version: 'EA{build}'
clone_folder: c:\Projects\yuzu-early-access
branches:
  only:
  - main
image:
- Visual Studio 2019
configuration:
- Release
platform:
- x64
environment:
  global:
    PYTHONUNBUFFERED: 'True'
    PYTHONWARNINGS: 'ignore:::wheel.pep425tags:'
    CODECOV_ENV: PYTHON_VERSION, PLATFORM
    
  matrix:
  - PYTHON_VERSION: 3.9
  
# skip unsupported combinations
init:
- set arch= Win64
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- set generator="Visual Studio 16 2019"
- echo %generator%

# Update Environment Variables based on matrix/platform
- set PY_VER=%PYTHON_VERSION:.=%
- set PYTHON=C:\PYTHON%PY_VER%
- if %PLATFORM%==x64 (set PYTHON=%PYTHON%-x64)
- set PYTHONNET_PYDLL=%PYTHON%\python%PY_VER%.dll

# Put desired Python version first in PATH
- set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

- python -m pip install --upgrade pip
- python --version



before_build:
- cmd: |-
    curl -L --silent --show-error --output VulkanSDK.exe https://vulkan.lunarg.com/sdk/download/1.2.135.0/windows/VulkanSDK-1.2.135.0-Installer.exe?Human=true
    VulkanSDK.exe /S
    set VULKAN_SDK=c:\Projects\yuzu-early-access\VulkanSDK\1.2.135.0
    
    #Main Building
    mkdir build
    cd build
    pip install conan
    conan user
    cmake --version
    cmake .. -G %generator%
    
build:
  project: c:\Projects\yuzu-early-access\build\yuzu.sln
  verbosity: minimal
  parallel: true
  
after_build:
  7z a yuzu-early-access-%APPVEYOR_BUILD_VERSION%.zip
  
artifacts:
    - path: yuzu-early-access-%APPVEYOR_BUILD_VERSION%.zip c:\Projects\yuzu-early-access\build\bin\Release
  
deploy:
  release: yuzu-early-access-$(APPVEYOR_BUILD_VERSION)
  description: 'Yuzu Early Access CI Builds with Appveyor'
  provider: GitHub
  auth_token:
    secure: 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 # your encrypted token from GitHub
  artifact: bin\release\yuzu-early-access-%APPVEYOR_BUILD_VERSION%.zip # upload all yuzu builds to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    APPVEYOR_REPO_TAG: true        # deploy on tag push only

only_commits:
  files:
    - CMakeLists.txt
    - appveyor.yml
    - source/
    - cmake/
