version: 'EA{build}'
clone_folder: c:\Projects\yuzu-early-access
skip_tags: true
skip_non_tags: false
branches:
  only:
  - main
image:
- Visual Studio 2019
configuration:
- Release
platform:
- x64
environment:
  global:
    PYTHONUNBUFFERED: 'True'
    PYTHONWARNINGS: 'ignore:::wheel.pep425tags:'
    CODECOV_ENV: PYTHON_VERSION, PLATFORM
    
  matrix:
  - PYTHON_VERSION: 3.9
  
# skip unsupported combinations
init:
- set arch= Win64
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- set generator="Visual Studio 16 2019"
- echo %generator%

#Updating the Build Version
- ps: Update-AppveyorBuild -Version "($env:APPVEYOR_REPO_COMMIT_MESSAGE)"

# Update Environment Variables based on matrix/platform
- set PY_VER=%PYTHON_VERSION:.=%
- set PYTHON=C:\PYTHON%PY_VER%
- if %PLATFORM%==x64 (set PYTHON=%PYTHON%-x64)
- set PYTHONNET_PYDLL=%PYTHON%\python%PY_VER%.dll

# Put desired Python version first in PATH
- set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

- python -m pip install --upgrade pip

before_build:
- cmd: |-
    curl -L --silent --show-error --output VulkanSDK.exe https://vulkan.lunarg.com/sdk/download/1.2.135.0/windows/VulkanSDK-1.2.135.0-Installer.exe?Human=true
    VulkanSDK.exe /S
    set VULKAN_SDK=c:\Projects\yuzu-early-access\VulkanSDK\1.2.135.0
    git clone https://github.com/Kryptuq/glslang.git
    mkdir build
    cd build
    pip install conan
    conan user
    cmake --version
    cmake .. -G %generator%
    
build:
  project: c:\Projects\yuzu-early-access\build\yuzu.sln
  verbosity: minimal
  parallel: true

after_build:
    mv c:\Projects\yuzu-early-access\build\bin\Release c:\Projects\yuzu-early-access\build\bin\yuzu-early-access
  
artifacts:
    - path: build\bin
      name: yuzu-early-access-%APPVEYOR_BUILD_VERSION%
  
deploy:
  description: 'Yuzu Early Access CI Builds with Appveyor'
  provider: GitHub
  auth_token:
    secure: aCv+cazXM4cEq+Jn6ZMOhXAfr0wmdeE9VD0IQcGEEYDIgU6+j4SzuzIYpcq5LMb/
  on:
    branch: main
    APPVEYOR_REPO_TAG: false        # deploy on tag push only

skip_commits:
  files:
    - README.md
