version: 'EA{build}'
branches:
  only:
  - main
clone_folder: c:\Projects\yuzu-early-access
image:
- Visual Studio 2019
configuration:
- Release
platform:
- x64
environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    PYTHON: "C:/Python37-x64"

stack: python %PYTHON%
  
matrix:
  fast_finish: true

# skip unsupported combinations
init:
- set arch=
- if "%arch%"=="Win64" ( set arch= Win64)
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- set generator="Visual Studio 16 2019"
- echo %generator%
- python -m pip install --upgrade pip
- python --version

before_build:
- cmd: |-
    mkdir build
    cd build
    pip install conan
    conan user
    cmake --version
    cmake .. -G %generator%
    
build:
  project: c:\Projects\yuzu-early-access\build\yuzu.sln
  verbosity: minimal
  parallel: true
only_commits:
  files:
    - CMakeLists.txt
    - appveyor.yml
    - source/
    - cmake/
