name: Create Yuzu Early Access Build

on:
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    name: Static Website Deployment
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      #Installs the Vulkan SDK
      - name: Install Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.0.3
        
      #Installs CMake
      - name: Install CMake
        uses: lukka/get-cmake@latest
        
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        with:
          vs-version: '[16.11)'
          msbuild-architecture: x64
      
      #Building with CMake and Ninja
      - name: Generating Project using CMake and Ninja
      - uses: seanmiddleditch/gha-setup-ninja@master
      - run: |
        git clone https://github.com/Kryptuq/glslang.git
        mkdir build
        cd build
        pip install conan
        conan user
        cmake --version
        cmake .. -G %generator% -DTITLE_BAR_FORMAT_IDLE="yuzu Early Access ${{ github.event.head_commit.message }}" -DTITLE_BAR_FORMAT_RUNNING="yuzu Early Access ${{ github.event.head_commit.message }} | {3}" -DENABLE_COMPATIBILITY_LIST_DOWNLOAD=ON -DENABLE_QT_TRANSLATION=ON -DUSE_DISCORD_PRESENCE=ON -DYUZU_USE_QT_WEB_ENGINE=OFF
      
      - name: Build app for release
        run: msbuild build\yuzu.sln
  
      - name: After Build
        run: |
        mv build\bin\Release build\bin\yuzu-early-access
      
      # Publishing to Release
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: EA${{ github.event.head_commit.message }}
          release_name: EA${{ github.event.head_commit.message }}
          body: |
            Yuzu Early Access CI Builds with Appveyor [Current Build: yuzu Early Access ${{ github.event.head_commit.message }}]
          draft: false
          prerelease: false
          
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/bin
          asset_name: EA${{ github.event.head_commit.message }}
          tag: EA${{ github.event.head_commit.message }}
          overwrite: true
