name: MostlyWhat Build Script

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    name: Building Yuzu Binaries
    runs-on: self-hosted
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: actions/checkout
        uses: actions/checkout@v2

      #Installs CMake
      - name: Install CMake
        uses: lukka/get-cmake@latest

      #Adding MSBuild
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64

      #Building with CMake and Ninja
      - name: Generating Project using CMake and Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      #Preparing Build
      - name: Before Build
        run: |
          git clone https://github.com/Kryptuq/glslang.git
          mkdir build
          cd build
          py pip install conan
          conan user
          cmake --version
          cmake .. -G "Visual Studio 16 2019" -A x64 -DTITLE_BAR_FORMAT_IDLE="yuzu Early Access ${{ github.event.head_commit.message }}" -DTITLE_BAR_FORMAT_RUNNING="yuzu Early Access ${{ github.event.head_commit.message }} | {3}" -DENABLE_COMPATIBILITY_LIST_DOWNLOAD=ON -DENABLE_QT_TRANSLATION=ON -DUSE_DISCORD_PRESENCE=ON -DYUZU_USE_QT_WEB_ENGINE=OFF

      #Build the .sln
      - name: Build app for release
        run: msbuild build\yuzu.sln /p:WarningLevel=0 /p:Configuration=Release

      - name: After Build
        run: |
          mv ${{ github.workspace }}\build\bin\Release ${{ github.workspace }}\build\bin\yuzu-early-access

      - name: Zip the Build Folder
        uses: vimtor/action-zip@v1
        with:
          files: build/bin/yuzu-early-access
          dest: yuzu-early-access-EA${{ github.event.head_commit.message }}.zip
          recursive: true

      #Publishing to Release
      - name: Release to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          name: EA${{ github.event.head_commit.message }}
          tag_name: EA${{ github.event.head_commit.message }}
          body: "Yuzu Early Access CI Builds with Appveyor [Current Build: yuzu Early Access ${{ github.event.head_commit.message }}]"
          files: ${{ github.workspace }}\yuzu-early-access-EA${{ github.event.head_commit.message }}.zip

      - uses: actions/upload-artifact@v2
        with:
          name: Built yuzu Emulator
          path: ${{ github.workspace }}\build\bin\yuzu-early-access

      - name: Upload Logs if Failure
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          path: ${{ github.workspace }}\build\CMakeFiles
